{% extends 'task.html' %}

{% block title %}{% endblock %}

{% block task %}
    <h2>Task 5: Polynomial Curve Fitting</h2>
    <form method="POST" action="{{ url_for('task5.points_post') }}">
        <div>
            <span>Enter number of points:</span>
            <input type="number" name="points" value="{{points}}" required>
        </div>
        <button>Submit</button>
    </form>
    <form method="POST" action="{{ url_for('task5.post') }}">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>X</th>
                    <th>Y</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in range(points) %}
                <tr>
                    <td>{{i}}</td>
                    <td><input type="text" name="x_{{i}}" value="{{x[i]|default(0)}}" required></td>
                    <td><input type="text" name="y_{{i}}" value="{{y[i]|default(0)}}" required></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button>Plot Graph</button>
    </form>
    <script>

    </script>
{% endblock %}